html,
body {
  height: 100%;
}


body{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 600px;
  min-width: 320px;

  & > *{
    flex: 1 0 auto;
  }

}

img[src=""] {
  visibility: hidden;
  opacity: 0;
}

::selection {
  color: $brand-primary;
}

textarea,select,input[type=text] {
  appearance: none;
}

body {
  background-color: #1C1C1C;
  text-transform: uppercase;
}

.container {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.logo-wrapper {
  width: 100%;
  margin-top: 45px;
  text-align: center;

  img{
    display: block;
    max-width: 100%;
    max-height: 184px;
    width: auto;
    height: auto;
    margin: 0 auto;

    @media (max-width: 400px) {
      padding: 0 15px;
    }
  }
}

.txt {
  width: 100%;
  max-width: 600px;
  line-height: 30px;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #005776;
  color: #005776;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  margin-top: 21px;
  font-family: Frutiger, Arial, serif;
  font-size: 17px;
}

.message-success{
  display: inline-block;
  color: #A33;
}

.form-wrapper {
  background-color: #212B30;
  padding: 19px 15px 0 15px;
  flex: 1;
  transition: 0.5s;

  &.is-visible{
    transform: translate(0,100%);
  }
}

label {
  color: #3F93A7;
  display: block;
  margin-bottom: 2px;
  font-family: 'Unibody';
  font-weight: 100;
  font-size: 8px;
}

input,
textarea {
  width: 100%;
  background-color: #CCCCCC;
  border: none;
  color: #000;
  box-sizing: border-box;
  text-indent: 5px;
}

input {
  height: 21px;
  margin-bottom: 12px;
}

textarea {
  height: 100px;
  margin-bottom: 4px;
}

button {
  border: none;
  background-color: #CCCCCC;
  padding: 6px 7px 4px 5px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
  padding: 3px 4px 1px 4px;
}

button:hover {
  background-color: #3F93A7;
}

.impressum-wrapper {
  margin-top: 13px;
  display: flex;
}

.hover-action {
  color: #00A1E1;
  cursor: pointer;
  font-size: 10px;
}

.hover-show.is-visible {
  opacity: 1;
}

.hover-show {
  color: #999999;
  text-transform: none;
  margin-left: 10px;
  opacity: 0;
  text-transform: none;
  font-size: 12px;
  transition: all 1s ease-in-out;
}

.bottom-bar {
  background: rgb(0,81,112);
  background: -moz-linear-gradient(left, rgba(0,81,112,1) 0%, rgba(0,154,215,1) 50%, rgba(0,84,115,1) 100%);
  background: -webkit-linear-gradient(left, rgba(0,81,112,1) 0%,rgba(0,154,215,1) 50%,rgba(0,84,115,1) 100%);
  background: linear-gradient(to right, rgba(0,81,112,1) 0%,rgba(0,154,215,1) 50%,rgba(0,84,115,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005170', endColorstr='#005473',GradientType=1 );
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  color: #222424;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-family: Frutiger, Arial, serif;
}

@font-face {
  font-family: 'Unibody';
  src: url('../fonts/3_Unibody_8_8pt_st.eot');
  src: url('../fonts/3_Unibody_8_8pt_st.woff2') format('woff2'),
  url('../fonts/3_Unibody_8_8pt_st.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/Unibody8_8pt_st.woff') format('woff'),
  url('../fonts/Unibody8_8pt_st.ttf') format('truetype'),
  url('../fonts/Unibody8_8pt_st.svg#Unibody8_8pt_st') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/9_Tahoma_11pt_st.eot');
  src: url('../fonts/9_Tahoma_11pt_st.woff2') format('woff2'),
  url('../fonts/9_Tahoma_11pt_st.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/Tahoma_11pt_st.woff') format('woff'),
  url('../fonts/Tahoma_11pt_st.ttf') format('truetype'),
  url('../fonts/Tahoma_11pt_st.svg#Tahoma_11pt_st') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url('../fonts/27_Frutiger_Light _Condensed.eot');
  src: url('../fonts/27_Frutiger_Light _Condensed.woff2') format('woff2'),
  url('../fonts/27_Frutiger_Light _Condensed.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/Frutiger47LightCondensed.woff') format('woff'),
  url('../fonts/Frutiger47LightCondensed.ttf') format('truetype'),
  url('../fonts/Frutiger47LightCondensed.svg#Frutiger47LightCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/33_Arial Narrow_12pt_st.eot');
  src: url('../fonts/33_Arial Narrow_12pt_st.woff2') format('woff2'),
  url('../fonts/33_Arial Narrow_12pt_st.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/ArialNarrow_12pt_st.woff') format('woff'),
  url('../fonts/ArialNarrow_12pt_st.ttf') format('truetype'),
  url('../fonts/ArialNarrow_12pt_st.svg#ArialNarrow_12pt_st') format('svg');
  font-weight: normal;
  font-style: normal;
}

