html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, picture {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

@keyframes hide{
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes show{
  0% {
    visibility: visible;
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
     opacity: 1;
   }
}

@keyframes rotate-center{
  0% {
    transform: translate(-50%,-50%) rotate(0deg)
  }
  100% {
    transform: translate(-50%,-50%) rotate(360deg)
  }
}


@keyframes rotate{
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@each $prefix in -webkit, -moz {
  @each $element in input, textarea, select {
    #{$element}:#{$prefix}-autofill,
    #{$element}:#{$prefix}-autofill:hover,
    #{$element}:#{$prefix}-autofill:active,
    #{$element}:#{$prefix}-autofill:focus{
      background-color: transparent!important;
      color: #555555!important;
      background-image: none;
      box-shadow: 0 0 0 1000px #fff inset!important;
    }

    #{$prefix}-text-fill-color{
      color: #555555!important;
    }
  }
}