@mixin single-transition($variable: null, $time: 0.5s){
  @if ($variable) {
    transition: $variable $time;
  } @else {
    transition: all $time;
  }
};

@mixin transition(){
  @include transition($default-transition-property,$default-transition-duration,$default-transition-function,$default-transition-delay);
}

@mixin input-placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}